/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/node_modules/
/package-lock.json

# Ignore bundler binstubs
/bundle_bin

# Ignore bundled files
/vendor/bundle/*
